<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Мероприятия</h1>

    <div id="event-list"></div>

    <h2>Создать мероприятие</h2>
    <form id="create-event-form">
        <label for="title">Название:</label>
        <input type="text" id="title" name="title" required><br><br>
        <label for="date">Дата:</label>
        <input type="date" id="date" name="date" required><br><br>
        <label for="location">Место проведения:</label>
        <input type="text" id="location" name="location" required><br><br>
        <label for="description">Описание:</label><br>
        <textarea id="description" name="description" required></textarea><br><br>
        <button type="submit">Создать</button>
    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
