<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Уведомление о мероприятии</title>
</head>
<body>
    <h1>Уведомление о мероприятии: {{ event.title }}</h1>
    <p>Привет!</p>
    <p>Приглашаем вас принять участие в нашем мероприятии "{{ event.title }}".</p>
    <p>Оно состоится {{ event.date }} по адресу: {{ event.location }}.</p>
    <p>Подробности события:</p>
    <p>{{ event.description }}</p>
    <p>Ждем вас!</p>
    <p>Организатор: {{ event.organizer.name }}</p>
    <p>Контактный email: {{ event.organizer.email }}</p>
</body>
</html>
