<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Уведомление о записи на мероприятие</title>
</head>
<body>
    <h1>Уведомление о записи на мероприятие: {{ event.title }}</h1>
    <p>Привет, {{ event.organizer.name }}!</p>
    <p>Вы успешно записались на мероприятие "{{ event.title }}".</p>
    <p>Оно состоится {{ event.date }} по адресу: {{ event.location }}.</p>
    <p>Ждем вас!</p>
    <p>Организатор: {{ event.organizer.name }}</p>
    <p>Контактный email: {{ event.organizer.email }}</p>
</body>
</html>
